body {
	font-family: 'Quantico', sans-serif;
	background-image: url('http://i690.photobucket.com/albums/vv270/rissarue14/4759.png');
}

.home {
	visibility: visible;
}

.welcome {
	font-size: 45px;
	margin-top: 100px;
}
.instructions {
	font-size: 25px;
}
.main-container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	visibility: visible;
	text-align: center;
}
.simon {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-size: 70px;
	color: purple;
	opacity: .7;
}

.game-container {
	height: 404px;
	width: 404px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.color {
	width: 200px;
	height: 200px;
	float: left;
	border: 1px dotted purple;
}

.button-container {
	margin: 0 auto;
	width: 250px;
	height: 30px; 
}

.start-button {
	width: 120px;
	height: 30px;
	margin: 0 auto;
	float: left;
	text-align: center;
	line-height: 30px;
	border: purple solid 1px;
	color: purple;
	background-color: white;
}

.score {
	width: 250px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	color: purple;
	background-color: white;
	margin-bottom: 5px;
	border: 1px purple solid;
}

.stop-button {
	width: 120px;
	height: 30px;
	margin: 0 auto;
	float: right;
	text-align: center;
	line-height: 30px;
	border: purple solid 1px;
	color: purple;
	background-color: white;
}

#red {
	background-color: #FC1789;
	border-top-left-radius: 100%;
}

#blue {
	background-color: white;
	border-top-right-radius: 100%;
}

#green {
	background-color: #17FC8A;
	border-bottom-left-radius: 100%;
}

#yellow {
	background-color: #FCFC17;
	border-bottom-right-radius: 100%;
}

.opacity {
	opacity: 0;
}


.overlay {
     position: absolute;
     top:0;
     bottom:0;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: purple;
     opacity: .9;
     color: white;
     margin: 0 auto;
     text-align: center;
}

.end {
	visibility: hidden;
}

.finish {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	font-size: 45px;
	background-color: gray;
	color: white;
}

.try-again {
	width: 120px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	font-size: 25px;
	border: 1px solid white;
	padding: 5px;
}

.num-rounds {
	font-size: 35px;
}




